# Eclipse
.project
.classpath
.settings/
bin/

# IntelliJ
*.ipr
*.iml
*.iws
.idea

# NetBeans
nb-configuration.xml

# Visual Studio Code
.vscode
.factorypath

# OSX
.DS_Store

# Vim
*.swp
*.swo

# patch
*.orig
*.rej

# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
release.properties

# scala 3
.tasty

# sbt
project/
project/target/
target/

# metals
project/metals.sbt
.metals